@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Inter';
  src: url('inter.woff2') format('woff2'),
    url('inter.woff') format('woff'),
    url('inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;

}

/* Banner Styles */
.banner {
  background-color: #f9fafb;
  /* Light gray background */
  border: 1px solid #e5e7eb;
  /* Border color */
  padding: 1rem 1.5rem;
  /* Padding */
  display: flex;
  /* Flexbox for layout */
  justify-content: space-between;
  /* Space between items */
  align-items: flex-start;
  /* Align items at the start */
  position: fixed;
  /* Fixed position */
  width: 100%;
  /* Full width */
  z-index: 50;
  /* Z-index for stacking */
}

.banner-head p {
  color: #6b7280;
  /* Text color */
  font-size: 0.875rem;
  /* Font size */
  font-weight: 300;
  /* Light font weight */
}

.banner-head h1 {
  font-weight: bold;

}

.banner a {
  color: #2563eb;
  /* Link color */
  font-weight: 500;
  /* Medium font weight */
  text-decoration: underline;
  /* Underline */
}

.banner button {
  background: transparent;
  /* Transparent background */
  border: none;
  /* No border */
  color: #9ca3af;
  /* Button color */
  cursor: pointer;
  /* Pointer cursor */
  padding: 0.375rem;
  /* Padding */
  border-radius: 0.375rem;
  /* Rounded corners */
}

.banner .button-2:hover {
  color: #111827;
  /* Hover text color */
}

.banner-button {
  align-items: center;
  display: flex;


}

.banner-button img {

  width: 20px;
  height: 100%;
  padding-right: 4px;

}

.banner-button .button-1 {
  background-color: #0f59f7;
  color: white;
  font-size: small;
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: auto;
}

/* Header Styles */
nav {
  background-color: rgb(226, 226, 226);
  height: 50px;

  padding: 0 1rem;
  position: fixed;
  width: 100%;

}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
width: 100vw;

}

.navbar img {
  width: 50%;
  height: 30%
}

.logo {
  display: flex;
  align-items: center ;
  margin-top: -1%;
}

.logo img {
  height: 50px;
  /* Adjust the height to fit the navbar */
  width: auto;
}

.navbar1 {
  display: flex;
  gap: 20px;
  justify-content: center;

}



.navbar2 {
  display: flex;
  /* transform: translate(-100%, 10%); */
  justify-content: center;
  gap: 10px;
}